<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.zipcheck.deals.mapper.MapMapper">

    <resultMap id="houseDealResponseMap" type="com.ssafy.zipcheck.deals.dto.MapDealResponse">
        <id column="no" property="no"/>
        <result column="apt_seq" property="aptSeq"/>
        <result column="apt_dong" property="aptDong"/>
        <result column="floor" property="floor"/>
        <result column="deal_year" property="dealYear"/>
        <result column="deal_month" property="dealMonth"/>
        <result column="deal_day" property="dealDay"/>
        <result column="exclu_use_ar" property="excluUseAr"/>
        <result column="deal_amount" property="dealAmount"/>
        <result column="apt_nm" property="aptName"/>
        <result column="jibun" property="jibun"/>
        <result column="road_nm" property="roadNm"/>
        <result column="build_year" property="buildYear"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
    </resultMap>

    <select id="searchHouseDeals" parameterType="com.ssafy.zipcheck.deals.dto.MapSearchRequest" resultMap="houseDealResponseMap">
        SELECT
            hd.no,
            hi.apt_seq,
            hd.apt_dong,
            hd.floor,
            hd.deal_year,
            hd.deal_month,
            hd.deal_day,
            hd.exclu_use_ar,
            hd.deal_amount,
            hi.apt_nm,
            hi.jibun,
            hi.road_nm,
            hi.build_year,
            hi.latitude,
            hi.longitude
        FROM houseinfos hi
                 JOIN dongcodes dc
                      ON dc.sgg_prefix = hi.sgg_cd
                          AND dc.dong_name = hi.umd_nm
                 JOIN housedeals hd USE INDEX (idx_hd_apt_date)
                      ON hd.apt_seq = hi.apt_seq
        <where>
            <if test="sidoName != null and !sidoName.isEmpty()">
                AND dc.sido_name = #{sidoName}
            </if>
            <if test="gugunName != null and !gugunName.isEmpty()">
                AND dc.gugun_name = #{gugunName}
            </if>
            <if test="dongName != null and !dongName.isEmpty()">
                AND dc.dong_name = #{dongName}
            </if>
            <if test="aptName != null and !aptName.isEmpty()">
                AND hi.apt_nm LIKE CONCAT(#{aptName}, '%')
            </if>
            <if test="minArea != null">
                AND hd.exclu_use_ar &gt;= #{minArea}
            </if>
            <if test="maxArea != null">
                AND hd.exclu_use_ar &lt;= #{maxArea}
            </if>
            <if test="minPrice != null">
                AND CAST(REPLACE(hd.deal_amount, ',', '') AS DECIMAL) &gt;= #{minPrice}
            </if>
            <if test="maxPrice != null">
                AND CAST(REPLACE(hd.deal_amount, ',', '') AS DECIMAL) &lt;= #{maxPrice}
            </if>
        </where>
        ORDER BY hd.deal_year DESC, hd.deal_month DESC, hd.deal_day DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="getSidoNames" resultType="String">
        SELECT DISTINCT sido_name FROM dongcodes WHERE sido_name IS NOT NULL
    </select>

    <select id="getGugunNames" parameterType="String" resultType="String">
        SELECT DISTINCT gugun_name FROM dongcodes WHERE sido_name = #{sidoName} AND gugun_name IS NOT NULL
    </select>

    <select id="getDongNames" parameterType="map" resultType="String">
        SELECT DISTINCT dong_name FROM dongcodes WHERE sido_name = #{sidoName} AND gugun_name = #{gugunName} AND dong_name IS NOT NULL
    </select>

    <select id="getDealById" parameterType="long" resultMap="houseDealResponseMap">
        SELECT
            hd.no,
            hi.apt_seq,
            hd.apt_dong,
            hd.floor,
            hd.deal_year,
            hd.deal_month,
            hd.deal_day,
            hd.exclu_use_ar,
            hd.deal_amount,
            hi.apt_nm,
            hi.jibun,
            hi.road_nm,
            hi.build_year,
            hi.latitude,
            hi.longitude
        FROM
            housedeals hd
        JOIN
            houseinfos hi ON hd.apt_seq = hi.apt_seq
        WHERE
            hd.no = #{id}
    </select>

</mapper>
