<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.zipcheck.boards.mapper.LikeMapper">

    <select id="existsLike" resultType="int">
        SELECT COUNT(*)
        FROM likes
        WHERE boards_board_id = #{boardId}
          AND users_user_id = #{userId}
    </select>

    <insert id="insertLike">
        INSERT INTO likes (boards_board_id, users_user_id)
        VALUES (#{boardId}, #{userId})
    </insert>

    <delete id="deleteLike">
        DELETE FROM likes
        WHERE boards_board_id = #{boardId}
          AND users_user_id = #{userId}
    </delete>

</mapper>
